.App {
  text-align: center;
  background-color: hsl(212, 45%, 89%);
  justify-content: center;
}

.card {
  justify-content: center;
  padding: 0;
  margin: 0;
}

.card-title.h5 {
  font-weight: 700;
  padding: 0 0.7rem 0.7rem;
  font-size: 20px;
}

.card img {
  padding: 1.4rem;
  border-radius: 10%;
}

.card p {
  font-size: 15px;
  padding: 0 0.7rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}